h2{
    text-decoration: underline;
}
.add .one {color:rgb(250, 207, 55);}


.add .two {color:rgb(250, 207, 55)}


 .add .three {background-color: rgb(247, 255, 17);}

 .sab .four {color: red;
font-weight: bold;}

.sab .five {color: red;
    }
    
 .sab .six {color: red;
    }
.sab .blue {color: blue;}

.sab .bold1 {font-weight: bold;}

.sab .bold2 {font-weight: bold;}

.non { list-style-type: none;

}
.sab .pl{font-weight: bold;}
